<%include ../partials/header.ejs%>
<h1 id="title">Colony Park Tenants</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 gutter">
			<%var i;%>
			<%tenants.forEach(function(tenant){%>
				<%var n = tenant.name;%>
				<%var c = tenant.column%>
				<%if(c == 1){%>
					<%if(n.charAt(0) == i){%>
							<h2 class="tenant"><%=tenant.name%>
								<span class="suite"><%=tenant.suite%></span>
							</h2>
							<h3 class="subname"><%=tenant.subname1%></h3>
							<h3 class="subname"><%=tenant.subname2%></h3>
							<h3 class="subname"><%=tenant.subname3%></h3>
							<h3 class="subname"><%=tenant.subname4%></h3>
							<h3 class="subname"><%=tenant.subname5%></h3>
							<h3 class="subname"><%=tenant.subname6%></h3>
							<h3 class="subname"><%=tenant.subname7%></h3>
							<h3 class="subname"><%=tenant.subname8%></h3>
							<h3 class="subname"><%=tenant.subname9%></h3>
							<h3 class="subname"><%=tenant.subname10%></h3>
						<%} else {%>
							<%i = n.charAt(0);%>
							<h1 class="letter"><%=i%></h1>
							<hr>
							<h2 class="tenant"><%=tenant.name%>
							 	<span class="suite"><%=tenant.suite%></span>
							</h2>
							<h3 class="subname"><%=tenant.subname1%></h3>
							<h3 class="subname"><%=tenant.subname2%></h3>
							<h3 class="subname"><%=tenant.subname3%></h3>
							<h3 class="subname"><%=tenant.subname4%></h3>
							<h3 class="subname"><%=tenant.subname5%></h3>
							<h3 class="subname"><%=tenant.subname6%></h3>
							<h3 class="subname"><%=tenant.subname7%></h3>
							<h3 class="subname"><%=tenant.subname8%></h3>
							<h3 class="subname"><%=tenant.subname9%></h3>
							<h3 class="subname"><%=tenant.subname10%></h3>
							<%}%>
					<%}%>
			<%});%>
		</div>
		<div class="col-lg-3 gutter">
			<%var i;%>
			<%tenants.forEach(function(tenant){%>
				<%var n = tenant.name;%>
				<%var c = tenant.column%>
				<%if(c == 2){%>
					<%if(n.charAt(0) == i){%>
							<h2 class="tenant"><%=tenant.name%>
								<span class="suite"><%=tenant.suite%></span>
							</h2>
							<h3 class="subname"><%=tenant.subname1%></h3>
							<h3 class="subname"><%=tenant.subname2%></h3>
							<h3 class="subname"><%=tenant.subname3%></h3>
							<h3 class="subname"><%=tenant.subname4%></h3>
							<h3 class="subname"><%=tenant.subname5%></h3>
							<h3 class="subname"><%=tenant.subname6%></h3>
							<h3 class="subname"><%=tenant.subname7%></h3>
							<h3 class="subname"><%=tenant.subname8%></h3>
							<h3 class="subname"><%=tenant.subname9%></h3>
							<h3 class="subname"><%=tenant.subname10%></h3>
						<%} else {%>
							<%i = n.charAt(0);%>
							<h1 class="letter"><%=i%></h1>
							<hr>
							<h2 class="tenant"><%=tenant.name%>
								<span class="suite"><%=tenant.suite%></span>
							</h2>
							<h3 class="subname"><%=tenant.subname1%></h3>
							<h3 class="subname"><%=tenant.subname2%></h3>
							<h3 class="subname"><%=tenant.subname3%></h3>
							<h3 class="subname"><%=tenant.subname4%></h3>
							<h3 class="subname"><%=tenant.subname5%></h3>
							<h3 class="subname"><%=tenant.subname6%></h3>
							<h3 class="subname"><%=tenant.subname7%></h3>
							<h3 class="subname"><%=tenant.subname8%></h3>
							<h3 class="subname"><%=tenant.subname9%></h3>
							<h3 class="subname"><%=tenant.subname10%></h3>
							<%}%>
					<%}%>
			<%});%>
		</div>
		<div class="col-lg-3 gutter">
			<%tenants.forEach(function(tenant){%>
				<%var n = tenant.name;%>
				<%var c = tenant.column%>
				<%if(c == 3){%>
					<%if(n.charAt(0) == i){%>
							<h2 class="tenant"><%=tenant.name%>
								<span class="suite"><%=tenant.suite%></span>
							</h2>
							<h3 class="subname"><%=tenant.subname1%></h3>
							<h3 class="subname"><%=tenant.subname2%></h3>
							<h3 class="subname"><%=tenant.subname3%></h3>
							<h3 class="subname"><%=tenant.subname4%></h3>
							<h3 class="subname"><%=tenant.subname5%></h3>
							<h3 class="subname"><%=tenant.subname6%></h3>
							<h3 class="subname"><%=tenant.subname7%></h3>
							<h3 class="subname"><%=tenant.subname8%></h3>
							<h3 class="subname"><%=tenant.subname9%></h3>
							<h3 class="subname"><%=tenant.subname10%></h3>
						<%} else {%>
							<%i = n.charAt(0);%>
							<h1 class="letter"><%=i%></h1>
							<hr>
							<h2 class="tenant"><%=tenant.name%>
								<span class="suite"><%=tenant.suite%></span>
							</h2>
							<h3 class="subname"><%=tenant.subname1%></h3>
							<h3 class="subname"><%=tenant.subname2%></h3>
							<h3 class="subname"><%=tenant.subname3%></h3>
							<h3 class="subname"><%=tenant.subname4%></h3>
							<h3 class="subname"><%=tenant.subname5%></h3>
							<h3 class="subname"><%=tenant.subname6%></h3>
							<h3 class="subname"><%=tenant.subname7%></h3>
							<h3 class="subname"><%=tenant.subname8%></h3>
							<h3 class="subname"><%=tenant.subname9%></h3>
							<h3 class="subname"><%=tenant.subname10%></h3>

							<%}%>
					<%}%>
			<%});%>
		</div>
		

		<div class="col-lg-3 dirMenu">
			<div class="row" style="max-height:300px;">
				<img src="/Assets/VOPNoWords.png" class="logo">
			</div>
			<br>
			<div class="row menuRow">
				<h1 class="menuTitle">Valley Office Park</h1>
				<h1 class="menuTitle">Directory</h1>
			</div>
			<!-- Replace this with applet built to display just a logo of the weather and the temperature -->
			<div class="row menuRow">
				<% var wid = weather.weather[0].id%>
				<% var temp = weather.main.temp - weather.main.temp%1%>
				<%console.log(temp);%>
				<% if(wid == 800){ %>
				<i class="wi wi-day-sunny"><p class="temp"><%=temp%>°</p></i>
				<%} else if(wid >= 801 && wid <= 804){%>
				<i class="wi wi-cloud"><p class="temp"><%=temp%>°</p></i>
				<%} else if(wid >= 300 && wid <= 321){%>
				<i class="wi wi-showers"><p class="temp"><%=temp%>°</p></i>
				<%} else if(wid >= 500 && wid <= 531){%>
				<i class="wi wi-rain"><p class="temp"><%=temp%>°</p></i>
				<%} else if(wid >= 600 && wid <= 622){%>
				<i class="wi wi-showers"><p class="temp"><%=temp%>°</p></i>
				<%} else if(wid >= 200 && wid <= 232){%>
				<i class="wi wi-thunderstorm"><p class="temp"><%=temp%>°</p></i>
				<%} else if(wid >= 701 && wid <= 781){%>
				<i class="wi wi-dust"><p class="temp"><%=temp%>°</p></i>
				<%}%>


				<!-- API call for weather and temperature -->
			</div>
			<!-- <div class="row menuRow">
				<div id="feed"></div>
			</div> -->
			<!-- <div class="row">
				<h1>News</h1>
			</div> -->
			<div class="row menuRow">
				<iframe class="time" src="http://free.timeanddate.com/clock/i68r2mbn/n76/fs32/fcfff/tct/pct/ftb/tt0/tw1/tm1/th2/ts1/tb4" frameborder="0" width="283" height="72" allowTransparency="true"></iframe>
			</div>
		</div>
	</div>
</div>

<%include ../partials/footer.ejs%>